.btnReg{
  width: 53vh;
  height: 50px;
  border-radius: 6px;
  margin-top: 15px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border: 1px solid #1565D8;
  background: #1565D8;
  color: #fff;
}